In [1]:
import os
import pandas as pd

In [2]:
os.chdir("..")

In [3]:
data_dir = os.path.join("data")
raw_dir = os.path.join(data_dir, "raw")
processed_dir = os.path.join(data_dir, "processed")

In [4]:
data = pd.read_csv(os.path.join(raw_dir, "imdb_movies.csv"), index_col=False)
len(data)

10178

In [5]:
data.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [6]:
data.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country'],
      dtype='object')

In [7]:
from sentence_transformers import SentenceTransformer

In [8]:
model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')

In [9]:
# def generate_textual_data(row):
#     text = f"""
#     title: {row.get('orig_title', 'Unknown')}
#     genre: {row.get('genre', 'Unknown')}
#     overview: {row.get('overview', 'Unknown')}
#     language: {row.get('orig_lang', 'Unknown')}
#     date: {row.get('date_x', 'Unknown')}
#     score: {row.get('score', 'Unknown')}
#     crew: {row.get('crew', 'Unknown')}
#     country: {row.get('country', 'Unknown')}
#     budget: {row.get('budget_x', 'Unknown')}
#     revenue: {row.get('revenue', 'Unknown')}
#     """
#     return text
# text_list = [generate_textual_data(row) for _, row in data.iterrows()]
# print(text_list[0])

In [10]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (4.66.2)
Requirement already satisfied: colorama in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from tqdm) (0.4.6)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
!pip install ipywidgets
!jupyter nbextension enable --py widgetsnbextension

Requirement already satisfied: ipywidgets in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (8.1.2)
Requirement already satisfied: comm>=0.1.3 in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from ipywidgets) (0.2.1)
Requirement already satisfied: ipython>=6.1.0 in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from ipywidgets) (8.21.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from ipywidgets) (5.14.1)
Requirement already satisfied: widgetsnbextension~=4.0.10 in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from ipywidgets) (4.0.10)
Requirement already satisfied: jupyterlab-widgets~=3.0.10 in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from ipywidgets) (3.0.10)
Requirement already satisfied: decorator in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (2.17.2)
Requirement already satisfied: stack-data in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: colorama in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: six>=1.12.0 in c:\users\ahmad\onedrive\desktop\myfiles\programming\repositories\imdb-semantic-search\.venv\lib\site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [12]:
from tqdm.notebook import tqdm

In [13]:
embedding_list = [list(model.encode(overview)) for overview in tqdm(data["overview"].tolist())]

  0%|          | 0/10178 [00:00<?, ?it/s]

In [14]:
data["vector"] = embedding_list

In [15]:
data.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country,vector
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU,"[-0.016517999, 0.08433097, -0.070426606, 0.009..."
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU,"[-0.10121736, 0.0086988695, -0.030430492, 0.05..."
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU,"[-0.010655911, -0.0125201205, 0.005006299, -0...."
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU,"[-0.010687405, 0.008270721, 0.011095548, -0.03..."
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US,"[-0.013036322, 0.073712714, 0.014476231, -0.02..."

In [16]:
data.to_csv(os.path.join(processed_dir, "data.csv"), index=False)